- @hide_top_links = true
- page_title '里程碑'
- header_title '里程碑', dashboard_milestones_path

.page-title-holder
  %h1.page-title= _('Milestones')

  - if current_user
    .page-title-controls
      = render 'shared/new_project_item_select',
        path: 'milestones/new', label: 'New milestone',
        include_groups: true, type: :milestones

.top-area
  = render 'shared/milestones_filter', counts: @milestone_states
  .nav-controls
    = render 'shared/milestones/search_form'

.milestones
  %ul.content-list
    - if @milestones.blank?
      %li
        .nothing-here-block 没有里程碑显示
    - else
      - @milestones.each do |milestone|
        = render 'milestone', milestone: milestone
  = paginate @milestones, theme: 'gitlab'
