- page_title milestone.title
- @breadcrumb_link = dashboard_milestone_path(milestone.safe_title, title: milestone.title)

- group = local_assigns[:group]
- is_dynamic_milestone = milestone.legacy_group_milestone? || milestone.dashboard_milestone?

.detail-page-header
  %a.btn.btn-default.btn-grouped.float-right.d-block.d-sm-none.js-sidebar-toggle{ href: "#" }
    = icon('angle-double-left')

  .status-box{ class: "status-box-#{milestone.closed? ? 'closed' : 'open'}" }
    - if milestone.closed?
      已关闭
    - elsif milestone.expired?
      已过期
    - else
      未关闭
  %span.identifier
    里程碑 #{milestone.title}
  - if milestone.due_date || milestone.start_date
    %span.creator
      &nbsp;&middot;
      = milestone_date_range(milestone)
  - if group
    .float-right
      - if can?(current_user, :admin_milestone, group)
        - if milestone.group_milestone?
          = link_to edit_group_milestone_path(group, milestone), class: "btn btn btn-grouped" do
            Edit
        - if milestone.active?
          = link_to '关闭里程碑', group_milestone_route(milestone, {state_event: :close }), method: :put, class: "btn btn-grouped btn-close"
        - else
          = link_to '重新打开里程碑', group_milestone_route(milestone, {state_event: :activate }), method: :put, class: "btn btn-grouped btn-reopen"

        - unless is_dynamic_milestone
          = render 'shared/milestones/delete_button'

= render 'shared/milestones/deprecation_message' if is_dynamic_milestone

.detail-page-description.milestone-detail
  %h2.title
    = markdown_field(milestone, :title)
  - if milestone.group_milestone? && milestone.description.present?
    %div
      .description.md
        = markdown_field(milestone, :description)

- if milestone.complete?(current_user) && milestone.active?
  .alert.alert-success.prepend-top-default
    - close_msg = group ? '可以关闭此里程碑。' : '导航到此项目去关闭此里程碑。'
    %span 该里程碑的全部问题都已关闭。#{close_msg}

= render_if_exists 'shared/milestones/burndown', milestone: @milestone, project: @project

- if is_dynamic_milestone
  .table-holder
    %table.table
      %thead
        %tr
          %th 项目
          %th 未关闭问题
          %th 状态
          %th 到期日
        %tr
          %td
            - project_name = group ? milestone.project.name : milestone.project.full_name
            = link_to project_name, milestone_path(milestone.milestone)
          %td
            = milestone.milestone.issues_visible_to_user(current_user).opened.count
          %td
            - if milestone.closed?
              已关闭
            - else
              未关闭
          %td
            = milestone.expires_at
- elsif milestone.group_milestone?
  %br
  View
  = link_to 'Issues', issues_group_path(@group, milestone_title: milestone.title)
  or
  = link_to 'Merge Requests', merge_requests_group_path(@group, milestone_title: milestone.title)
  in this milestone
